* {
  box-sizing: border-box;
}

.check-line-container {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  max-width: 384px;
  border: 1px solid grey;
  padding: 8px;
}

.filters-container {
  display: flex;
  padding: 8px;
  gap: 40px;
}

.scroll-restrict {
  max-height: 400px;
  overflow-y: auto;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  background: white;
}

.top-0 {
  top: 0;
  z-index: 100;
}

.top-1 {
  top: 21.33px;
  z-index: 99;
}

.top-2 {
  top: 42.66px;
  z-index: 98;
}

.submit {
  padding: 16px 32px;
  background-color: green;
  color: white;
  border: 1px solid darkgreen;
  border-radius: 8px;
  font-size: 16px;
}

.submit:active {
  background-color: darkgreen;
}

.invisible {
  visibility: hidden;
  height: 0;
}